@model List<DisplayFuelResponse>

@foreach (var item in Model)
{
    <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
            <h5 class="text-white mb-0">@item.Fuel <span class="float-right"><i class="zmdi zmdi-battery"></i></span></h5>
            <div class="progress my-3" style="height:3px;">
                <div class="progress-bar" style="width:55%"></div>
            </div>
            <p class="mb-0 text-white small-font">En Az Tercih Edilen Yakıt Tipi</p>
        </div>
    </div>
}
