@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Start Dashboard Content-->

<div class="card mt-3">
    <div class="card-content">
        <div class="row row-group m-0">

            @await Component.InvokeAsync("_PopularFuelPartial")
            @await Component.InvokeAsync("_PopularColorPartial")
            @await Component.InvokeAsync("_PopularShiftTypePartial")
            @await Component.InvokeAsync("_PopularCaseTypePartial")

        </div>
    </div>
</div>
<div class="card mt-3">
    <div class="card-content">
        <div class="row row-group m-0">

            @await Component.InvokeAsync("_LeastFuelPartial")
            @await Component.InvokeAsync("_LeastColorPartial")
            @await Component.InvokeAsync("_LeastShiftTypePartial")
            @await Component.InvokeAsync("_LeastCaseTypePartial")

        </div>
    </div>
</div>

<div class="row">

            @await Component.InvokeAsync("_PopularBrandsPartial")
            @await Component.InvokeAsync("_PopularPlatesPartial")

</div>
<!--End Row-->
            @await Component.InvokeAsync("_SearchPartial")
<!--End Row-->
<!--End Dashboard Content-->
